.App {
  text-align: center;
  height: 100vh;
  position: relative;
  background: #FFD2D2;
}


#background_spline {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
}

#page_content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}